.chartSection header{
    text-align: center;
    margin-bottom:20px;
}

table{
    margin-top:30px;
    border-collapse: collapse;
}

th{
    /*padding-right:30px;*/
    padding: 10px 30px 10px 30px;
    border-bottom:2px solid #dee2e6;
    font-weight: 900;
}

td{
    padding: 10px 30px 10px 30px;
}

tr{
    border-top:1px solid #dee2e6;
}

.hoverableTr:hover{
    background-color: #e7e7e7;
}

.rc-slider{
    display:inline-block;
}

.range{
    /*margin-left:50px;
    width:50% !important;*/
    display:inline-block;
}
